{% extends "base.html" %}

{% block title %}Contact me{% endblock %}

{% block content_title %}Contact me{% endblock %}

{% block content %}
        <form action="{{ url_for('contact')}}" method=post>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" name="email" class="form-control"  id="email" placeholder="example@dot.com">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <textarea name="content" class="form-control" placeholder="Enter your comment here..."></textarea>
            {{ recaptcha }}
            <input type="submit" value="Post">
        </div>
    </form>
{% endblock %}
