{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content_title %}{{ entry.title }}{% endblock %}
{% block extra_header %}
  {% if session.logged_in %}
    <li><a href="{{ url_for('edit', slug=entry.slug) }}">Edit entry</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <p>Created {{ entry.timestamp.strftime('%d/%m/%Y at %I:%G%p') }}</p>
  {{ entry.html_content }}
    Tags: {% for tag in entry.tags %}<a href="{{ url_for('tag_search', slug=tag) }}">{{ tag }}</a>,{% endfor %}
    <form action="{{ url_for('kudos', slug=entry.id) }}" method="post">
        <button type="submit" name="kudos" class="btn-link">{{ number_of_kudos }} kudos</button>
    </form>
    <div class="container">
    <h2>Comments</h2>
    {% for comment in comments %}
        <div class="card">
            <div class="card-block">
                <h5 class="card-subtitle mb-2">{{ comment.timestamp.strftime('%d/%m/%Y at %I:%G%p') }}, {{ comment.name }}:</h5>
                <p class="card-text">{{ comment.content }}</p>
            </div>
        </div>
        <hr>
    {% endfor %}
    <form action="{{ url_for('detail', slug=entry.slug) }}" method=post>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" placeholder="Enter your name" class="form-control" name="name" id="name">
            <label for="email">Email(optional): </label>
            <input type="text" name="email" class="form-control"  id="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <textarea name="content" class="form-control" placeholder="Enter your comment here..."></textarea>
            <input type="submit" value="Post">
        </div>
    </form>
</div>
{% endblock %}
